{% extends 'base.html' %}

{% load static %}

{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Akmal Ramadhan</span>

            <a href="{% url 'main:logout' %}">
                <button class="button rounded">
                    Logout
                </button>
            </a>

        </div>
    </nav>


    <h1> <center> Shopping List Page </center> </h1>
    <center> <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png" width="100" height="100"> </center>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

{% endblock content %}
